 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Handlee", cursive;
  color: white;
  font-size: 10px;

}

.first,.game,.result {
  background-color: #2d2d2d;
  min-height: 100vh;
}


.correct{
  background-color: #00BF63;
  min-height: 100vh;
}
.uncorrect{
  background-color: #FA0000;
  min-height: 100vh;
}



.first-container{
  width: 42%;
  padding-top: 3%;
  margin: 0 auto;
}
.wrapper{
  text-align: center;
}


.header {
  width: 100%;
  font-size: 5vw;
  color: #ff0000;
  margin: auto;
}


.first-parag{
  margin: 3%;
  font-size: 3vw;
}

.first-parag span{
  font-size: 3vw;
}

.first-link{
  position: relative;
  top: 30px;
}


 
.start{
  position: absolute;
  font-size: 4vw;
  inset: 0;
  top: -7vw;
}







.game-container{
  display: flex;
  padding-top: 2%;
}

.left-game{
  margin-left: 11vw;
 padding-top: 1.5vh;
}


.conc {
  position: absolute;
  top: 30vh;
  left: 15vw;
}
.conc span{
  font-size: 6vw;
}
.score-container{
  display: flex;
}

.game-score{
  display: flex;
  margin-right: 1.3em;
  font-size: 3vw;
  line-height: 64px;
}
.game-score span{
  font-size: 100%;
}

.circle{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.SmallCircle > svg{
  width: 12vw;
}



.circle-0{
  position: absolute;
  top: 31%;
  left: 60%;

}
.circle-1{
  position: absolute;
  top: 45%;
  left:80%;

}
.circle-2{
  position: absolute;
  top: 65%;
  left:65%;
  

}
.circle span{
  position: absolute;
  inset: 0;
  top: 3vh;
  font-size: 6vw;
}

@media screen and (width<=1024px){
  .conc {
    top: 41vh;
    left: 15vw;
  }

  .game-score{
    font-size: 3.1vw;
  }

  .circle span{
    top: 1vh;
  }
}










.result-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 4rem  0 ;
  text-align: center;
}

.symbol{
  
  padding-left: 3rem;
}
.question span{
  font-size: 3.5rem;
  padding-right: 0.5rem;
} 

